.wrapper_form{
      display: flex;
      justify-content: center;
       width: 1040px;
      margin: 0 auto;
}
.form_registr{

      text-align: center;
      margin-top: 80px ;
      width: 530px;
      height: 530px;
border-radius: 20px;
      padding: 30px;
      border: 0px solid rgba(11, 11, 11, 0.331);
      background-color: rgba(20, 117, 136, 0.254);
      box-shadow: 4px 4px 28px 3px rgba(34, 60, 80, 0.2);


}
.wrapper__register{
     // display: flex;
      width: 1040px;
      margin: 0 auto;
      justify-content: center;
}
.forma__registration{
margin-top: 25px;
display: block;
}
.custom-checkbox{
      scale: 170%;
      margin: 40px 10px 30px 10px;

      //display: block;
      //text-align: left;
      // margin-left: 40px;
}

.custom-label{
width: 230px;
text-align: left;
display: block;
color: rgb(206, 8, 24);
}
.custom-checkbox-active{
      color: rgb(56, 132, 4);

}
.wrapper__registe-true{
     margin-top: 100px;
      font-size: 30px;
}
