.app {

    min-height: 100vh;
    overflow-y: scroll;
    background: url('../../assets/hero_bg.jpg') center / cover no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;

}

.content {
    flex: 1;
    padding-top: 70px;

}
